<h1>Portfolio Items </h1>


 <%= link_to  "Create new Portfolio Item", new_portfolio_path%>


<%  @portfolio_items.each do|portfolio| %>
    <p><%= portfolio.title %></p>
    <p><%= portfolio.subtitle %></p>
    <%= image_tag portfolio.thumb_image if !portfolio.thumb_image.nil? %>
    <%= link_to "Edit", edit_portfolio_path(portfolio.id) %>
    <a href="/portfolios/<%= portfolio.id %>/edit">Edit Two</a>
<% end %>